<mat-grid-list cols="4" rowHeight="1:1" guttersize="60">
    <mat-grid-tile rowspan ="2" colspan ="2">
        <mat-card class="Time-Calculator" routerLink = "/timeManagement">
            <!-- <mat-card-header>
            </mat-card-header> -->
            <mat-card-title>Time Calculator</mat-card-title>
            <img mat-card-image src="./assets/images/dashresultsOLD.jpg">
          </mat-card>          
    </mat-grid-tile>
    <mat-grid-tile colspan ="2">
        <mat-card class="News-And-Media">
            <mat-card-title>Other App</mat-card-title>
            <img mat-card-image src="./assets/images/dashnews.jpg">
          </mat-card>  
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1">
        <mat-card class="My-Appointments">
            <mat-card-title>Other App</mat-card-title>
            <img mat-card-image src="./assets/images/dashappointments.jpg">
          </mat-card>  
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1">
        <mat-card class="Book-Now">
              <mat-card-title>Other App</mat-card-title>
            <img mat-card-image src="./assets/images/dashbooknow.jpg">
          </mat-card>  
    </mat-grid-tile>
</mat-grid-list>